[2014-02-15 04:55] adelevie opened #1 "Will this work on the server?"
Really cool library! I'm intrigued.

Have you tested this to see if you could render a component to string on the server (node.js)?

It would be a really great way to render an initial collection server-side, then use the same components for client-side DOM updates.

[2014-02-17 01:28] #1 closed, assigned to nobody

[2014-02-17 23:32] agborkowski opened #2 "remove, edit for blog eg."
i adding successfully  new items to collection and react work gr8 with backbone thanks of backbone react component but what is bet way to remove, edit elements ? How can i get reference to clicked element and execute edit/remove action, it will be good to add fully CRUD to blog eg.

[code]

[2014-02-18 01:45] agborkowski opened #3 "wrong sync collection => react"
i click on remove Tag action (i class="icon-remove..") n-times, in situation when i remove all Tags models from collection and add new one i see problem like this

i click on (data-id=258)

[code]

and onClick method are executed

[code]

alert return message "delete data-id 11" ist old wrong id wichin i removed earlier.. its loiking like some data are unsynced with view.... any idea what can be w

[2014-02-18 02:48] #2 closed, assigned to nobody

[2014-02-18 23:17] #3 closed, assigned to nobody

[2014-02-26 00:32] magalhas opened #4 "react v0.9.0 anti-pattern warning"
Starting at React v0.9.0 log messages started appearing alerting of unproper usage of component methods (https://gist.github.com/sebmarkbage/8928067), this is because an instance of a component isn't actually the same instance that's mounted on a DOM element.

[2014-03-02 07:27] #4 closed, assigned to magalhas

[2014-03-11 07:05] ahdinosaur opened #6 "React mixin"
what are your thoughts on making this a React mixin as opposed to a new extendable class object?

i think a new class object is a lot to swallow as it enforces a new API that is different from the traditional React API, and therefore breaks compatibility. could it be possible to add the functionality as a mixin and then write an additional wrapper for the new API?

an example of a similar, but not

[2014-03-14 12:55] #6 closed, assigned to nobody

[2014-03-24 00:24] magalhas opened #8 "test and update to React v0.10.0"

[2014-03-24 03:51] #8 closed, assigned to magalhas

[2014-03-31 19:19] ahutchings opened #9 "Handle collection "reset" event"
Calling collection.reset([models]) does not trigger a component prop change.

[2014-04-01 18:07] #9 closed, assigned to nobody

[2014-04-21 14:13] redexp opened #11 "Blog Example: toHTML() error"
Right on the first line of Blog example you have error with

[code]

`toHTML` will return result to callback

[2014-04-25 12:59] jfschwarz opened #12 "Bug: When using as a component, only the first child is passed on to the React component"
When passing multiple children like this

[code]

rendered HTML will look like this:

[code]

for a fix see: https://github.com/jfschwarz/backbone-react-component/commit/798110fcb7217cdbf7bbbd8865989028438c2c5c

[2014-05-09 00:01] #12 closed, assigned to nobody

[2014-05-19 06:31] pistachiomatt opened #14 "How do collections flow down to children?"
Let's say my app has a Dashboard → which contains projects → and each project contains posts.

Is this the intended structure?

[code]

... and so on?

There are two problems I'm facing. At `#1`,  `this.props.projects` isn't the Backbone collection; it's just an array of objects that are props. So passing it as a `model` into `ProjectView` doesn't work.

At `#2`, I can access the Backbone model's

[2014-05-20 01:17] spiderSorus opened #15 "Cannot read property 'on' of undefined"
I keep getting this:

[code]

when I run this:

[code]

[2014-05-23 03:47] rbishop opened #16 "Using React's private API"
This library is great but I notice it's using the `__realComponentInstance` property which was part of React's private API. In recent versions of React this property has been removed and certain functionality this library provides does not work anymore.

I was able to use this library with the latest version of React only if I use the `mixins: [Backbone.React.Component.mixin]` approach.

[2014-05-24 01:41] #14 closed, assigned to nobody

[2014-06-24 01:05] jstayton opened #18 "How to use with collection `fetch`?"
Hey Jose,

The examples in the README are very helpful, but all of the collection ones use a static array of model data. How does it work when the collection is loaded by calling `fetch`? I'm having trouble.

Here's what I have:

[code]

The table is rendered, the fetch is successful, but then `render` is never called after the collection `sync` event, so the table isn't updated. Which leads me to

[2014-06-24 16:33] julieReitter opened #19 "Cannot read property 'setProps' of undefined"
I've been using the component and it's been working great. However, I occasionally get the this error.

[code]

It seems to happen when an event triggers `setProps` and the component is quickly unmounted, which deletes the component. The error is triggered [here](https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L314-L319)

Using React v0.10.0

[2014-06-26 22:05] #19 closed, assigned to nobody

[2014-06-26 23:25] #11 closed, assigned to nobody

[2014-06-27 20:00] magalhas opened #20 "add an example with nested models"
After the discussion over #18 this will certainly be helpful.

[2014-06-27 20:00] #18 closed, assigned to nobody

[2014-07-04 21:36] magalhas opened #21 "prepare for react 0.11"
`Backbone.React.Component` may break due to private API usage (#16). Concerning `Backbone.React.Component.mixin` running the unit tests will probably suffice :+1:

[2014-07-06 02:44] #20 closed, assigned to nobody

[2014-07-28 13:46] gillesruppert opened #23 "update peer dependency on npm version"
Version 0.6.5 that is published on npm has React set to version ^0.10.0 in both the `peerDependencies` and `devDependencies`.

Please publish a version that will work with version 0.11.0.

[2014-07-28 22:19] #23 closed, assigned to nobody

[2014-07-28 22:20] #21 closed, assigned to nobody

[2014-07-28 22:21] #15 closed, assigned to nobody

[2014-07-28 22:23] #16 closed, assigned to nobody

[2014-08-01 19:51] nikhilmat opened #24 "Class Extension Support Dropped in Upgrade?"
I was using backbone-react-component to integrate React into our existing Backbone app, and really liked the class extension feature that this library implemented. Just trying to understand the reason it was dropped in the upgrade to React v0.11. Would love to continue using this library, but have setup many of my components to inherit from a base for ease of transition from our current Backbone s

[2014-08-17 19:31] #24 closed, assigned to nobody

[2014-09-13 17:11] skubus opened #25 "Question: is there any way to avoid initializing the model in the renderComponent?"
So instead of doing it this way:

[code]

being able to do something like this:

[code]

[2014-09-16 23:39] varunarora opened #26 "View props and model attributes out of sync"
I can't seem to keep the React view props and model attributes in sync after an attribute as been 'set' on the model. .get('attributeName') on the model object (after using .getModel()) and .props.attributeName return the full attribute and undefined respectively. Any ideas on what may be going on?

[2014-09-16 23:43] varunarora opened #27 "Why do you demolish the collection's individual models on passing it into a view?"
The problem with stripping down a collection's models to only its attributes is that you need to regenerate the backbone object for the model, which doesn't make too much sense.

[2014-09-23 08:56] varunarora opened #28 "Overwritten views should update collections"
I am mounting a new a React view constantly on the same DOM node, and until I was changing props it was all fine. Using a different collection causes there to be an inconsistency between .props.collection and .getCollection().

[2014-09-24 18:44] #27 closed, assigned to nobody

[2014-10-14 15:26] jbhatab opened #29 "Filtered collection"
I'm not 100% sure if this is the place for this, but I'm just gonna post it to see what you all think.

I'm trying to filter a collection by a search term and then pass that down to a list. It gets filtered properly  but when I call @getCollection() it gives me the original collection still.

[code]

I'm aware I can just pass the props down to the rail list, but I want to pass the collection the r

[2014-10-16 07:33] #28 closed, assigned to nobody

[2014-10-16 07:33] #26 closed, assigned to nobody

[2014-10-29 15:26] mthenw opened #30 "One collection example"
Hi,

I have problem with "one collection" example from README. It shows that I can use `this.props.collection`. but actually collection props is removed in https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L169. Is this example still valid?

[2014-10-29 15:36] #30 closed, assigned to nobody

[2014-11-02 16:28] #25 closed, assigned to nobody

[2014-11-11 05:17] cellis opened #32 "Not an issue, just wondering:"
[code]

Why only listen if it's a root node? Is there some performance tradeoff if it's a child node? I'm trying to have a dynamically rendered view with routing and this is kind of a puzzling requirement because I can't reset the model (outside the component once mounted). Thanks!

[2014-11-11 17:04] #32 closed, assigned to nobody

[2014-11-16 07:39] rzhou186 opened #34 "Saving a Backbone model (specifically, making a PATCH request) seems to trigger render twice."
I have a Backbone model in a Backbone collection, both of which are being rendered by React components.

When I save the Backbone model (specifically, making a PATCH request), the parent component responsible for the Backbone collection seems to fire render twice.

[2014-11-17 09:01] #34 closed, assigned to nobody

[2014-11-17 20:45] jbhatab opened #35 "demo screencast"
Not 100% sure if this is the right place to ask this, but I was planning on making a screencast with this library. I was planning on making it using middleman + backbone + react and either a dummy api or a rails api that isn't shown in the screencast.

Do you have any ideas or concepts you think should make their way into the video? Also would you consider putting this in the readme?

[2014-11-18 02:09] alexmcmillan opened #36 "All or nothing"
Apparently you have to use the mixin on the absolute global root component or it doesn't work at all...

I'm having trouble rendering 3 components (all using the mixin) inside a common (React) container (*not* using the mixin).

I think it may be to do with the "Wrapper" only starting listeners on a root node, when I'm essentially trying to create 3 "root nodes" - meaning they all have a `componen

[2014-11-20 08:45] #35 closed, assigned to nobody

[2014-11-21 23:48] abritinthebay opened #37 "Why does the mixin use props instead of state?"
the state object is what React is designed to use with dynamic data sources. In fact in the documentation it states about this.setState:

Which is exactly how a model/collection binding would work. Why is this mixin going against the direction of the React documentation? Especially as props are supposed to be able to be accesses and changed by parent components - this seems against how you'd want

[2014-11-23 03:58] #37 closed, assigned to nobody

[2014-11-29 07:56] rzhou186 opened #39 "Calling Backbone.Collection.fetch in componentDidMount triggers inconsistent number of renders"
Assume we have a React component with the Backbone.React.Component mixin, and that the component takes in a Backbone collection as a prop.

If we call this.getCollection().fetch() in the componentDidMount function of the React component, it seems to trigger an inconsistent number of renders. Sometimes it renders a total of 2 times, and other times it renders a total of 3 times. I'm assuming this i

[2014-11-29 20:19] #39 closed, assigned to nobody

[2014-12-03 07:19] tjwebb opened #40 "Not able to invoke any instance method"
It looks like the backbone models and collections are serialized into their raw JSON form. Some data I'd like to render is the result if invoking instance methods I've defined on my model, but `this.props.myMethod()` does not exist.

[2014-12-03 08:03] tjwebb opened #41 "chicken-egg issue with "sync" event listener"
https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L253

This check is wrong because `[] == false`

The backbone `sync` and `request` events are only bound if the collection already has models in it. This is a problem for new collections that haven't been fetched yet; the component never knows when the collection is fetched for the first time.

[2014-12-03 09:37] #41 closed, assigned to nobody

[2014-12-03 09:41] #40 closed, assigned to nobody

[2014-12-03 10:24] tjwebb opened #42 "Automatically set "key" ?"
In all the examples, `key` is manually set on each component, but not in the README. Following the README yields this warning:

 It'd be nice if this library could automatically set `key=model.id` as a default that can be overridden.

[2014-12-04 03:06] tjwebb opened #43 "confused about the design pattern, re: usage of props vs. state"
The usage of props seems at odds with the React documentation: http://facebook.github.io/react/docs/thinking-in-react.html

I think it's strange that all of the model's attributes are added directly to `this.props`. It doesn't seem like this is the use case React had in mind for `props`, and it pollutes that namespace. Moreover, you're creating more than one way to access the model attributes, via

[2014-12-05 09:49] rzhou186 opened #44 "Child components using mixin do not auto-re-render on collection change"
This has been tangentially addressed in the past. But I'm confused as to why a **_child**_ component - using Backbone.React.Component.mixin, and taking in a collection as a prop - doesn't seem to re-render itself when its collection changes (e.g. its collection was fetched, or a new model was added, or a model was deleted).

To elaborate on the above case, the collection would be instantiated **_w

[2014-12-05 10:38] #44 closed, assigned to nobody

[2014-12-11 12:01] #43 closed, assigned to nobody

[2014-12-16 21:32] magalhas opened #47 "_owner getting deprecated in React v0.13"
This will make code break for people relying on `@getModel` and `@getCollection` to get models and collections from parent components.

`@getOwner` will also be removed.

Still need to know how to distinguish an owner from an ownee in order to make changes for this incoming version.

[2014-12-16 21:33] #42 closed, assigned to nobody

[2014-12-21 03:19] jbhatab opened #48 "getInitialState treats @getCollection() differently"
I am making a mixin for sorting and trying to access @getCollection() in the getInitialState call. It keeps giving me this error, "Cannot read property 'collection' of undefined". What did work was using @props.collection, which returned the collection. Which is weird because props.collection generally returns just the json data.

But in the sortedData and sortBy functions, @getCollection() and @p

[2014-12-25 19:13] #47 closed, assigned to nobody

[2014-12-26 19:53] #48 closed, assigned to nobody

[2015-01-02 00:10] rzhou186 opened #50 "When multiple collections are bound to a node, Backbone.Collection.fetch does not trigger re-render."
Re-rendering seems to work fine when one collection is bound to a node. For example, if I create a new model in the collection, edit an existing model in the collection, or re-fetch the whole collection from the server, the node will re-render.

However, this doesn't seem to work when there are multiple collections bound to a node.

[2015-01-02 01:18] magalhas commented on #50
That's very strange. I'll write a unit test for it to validate this bug and fix it.

[2015-01-02 01:21] rzhou186 commented on #50
Thanks. I'm using version 0.7.2, for what it's worth!

[2015-01-02 02:36] rzhou186 commented on #50
On a side note, shouldn't props be immutable? According to the README, when multiple collections are present, they need to be accessed via props (e.g. this.props.firstCollection).

Therefore, if I call `this.props.firstCollection.fetch({ ... });`, I would be mutating props.

[2015-01-02 17:09] magalhas commented on #50
Via `@props` you'll find the JSON representation of the collection(s). Via `@getCollection()` you'll get the real collection instances. If README is making you think otherwise then it must be clarified there.

[2015-01-02 19:09] #50 closed

[2015-01-03 05:09] rzhou186 commented on #50
Ah, it was a bad error on my part - I overlooked something in the README.

magalhas, I sent you a private message by email. Thanks for being so responsive and sorry for mis-filing this issue.

[2015-01-05 09:42] magalhas commented on #50
There's no problem :+1: I'll review your PR asap. Thank you very much.

[2015-01-23 12:48] alexmcmillan commented on #36
My root React component is a document editor `<Editor />`.  There is no "data model" associated with the editor itself - it just renders a bunch of UI dom, and listens to a Controller for when the document data is available.

While waiting, it renders a `<Toolbar />`, a `<Sidebar />`, menus, and a "please wait" prompt.  When the data is available, it renders a `<Document model={documentModel} />`

[2015-01-23 12:51] magalhas commented on #36
Hi @alexmcmillan . How are you notifying your `<Editor />` that data is available in order to render `<Document model={documentModel} />`?

[2015-01-23 23:21] alexmcmillan commented on #36
The `Editor` component is first created by an 'ApplicationController' which itself instructs aalso fires an ajax request for the data.  When it arrives, the ApplicationController

[2015-01-24 21:57] kanejoe opened #53 "Listen to 'invalid' event on a model"
hi, I wonder if you could give me an example of how to listen to a backbone model's 'invalid' event within the component using this library. many thanks.

[2015-01-26 07:00] LKay opened #54 "Using of fetch is ignored"
I have a browserify/node kind of application and wanted to use this module to bind backbone collections/models to react components. Unfortunately when I call ``fetch()`` method on collection/model then component not listening for changes on ``sync`` events. The factory approach does not work in that case as I need a component body. I try to set props such as collections using ``setDefaultProps``.

[2015-01-26 11:16] magalhas commented on #36
So can I assume that the controller calls setProps on the Editor instance, right?

Cumprimentos,
José Magalhães

On Fri, Jan 23, 2015 at 11:21 PM, Alex McMillan <notifications@github.com>
wrote:

[2015-01-26 11:33] alexmcmillan commented on #36
I think this does essentially the same thing, but here's a simplified example of what I'm doing:

    var docModel = null;

    renderEditor: function () {
        React.renderComponent(<Editor documentModel={docModel} />, $('#container')[0]);
    }

    dataController.on('ready', function () {
        docModel = this.getDocumentModel();
        renderEditor();
    }

    renderEditor();

[2015-01-26 18:04] magalhas commented on #36
So in fact there's a "data model" associated with your `Editor`, right?

[2015-01-26 18:05] magalhas commented on #53
I wasn't aware of that event. Is it triggered by models when they don't pass the validate function?

[2015-01-26 18:08] magalhas commented on #54
I'm pretty sure the problem is because you're setting the collection inside `@getDefaultProps`, can you please just try and set the collection outside `@getDefaultProps` to validate if that's the problem? Something like `<Fields collection={{fields: new FieldsCollection()}} />`

[2015-01-26 19:32] alexmcmillan commented on #36
Precisely.  That's the problem.

[2015-01-27 01:44] LKay commented on #54
In this case the component is being passed to another processor so I can't use factory pattern and initialise compiled component. For me it is obviously bug as it shouldn't be any difference when setting models/collections on the compiled component or within component body, should it?

[2015-01-27 02:53] magalhas commented on #54
Keep in mind that getDefaultProps gets cached. I need to investigate further to see if there's no problem on fallbacking models/collections to the ones returned by getDefaultProps.

On Terça-feira, 27/01/2015 at 01:44, Karol Janyst <notifications@github.com>, wrote:
Message contents can't be shown right now

[2015-01-27 03:02] LKay commented on #54
Ok, I debugged the code a little bit and it is, indeed possible to set the props in the ``getDefaultProps`` at they are passed to the wrapper object. The problem, I suppose lies here
[code]
as the mixin expects the component to be root one, which is not always possible. If it's not the root component then the listeners are not binded. What I did for workaround for now is to change state of the col

[2015-01-27 03:07] magalhas commented on #54
Yes using setState for non root components is a solution that I've been
thinking of implementing.

Not sure though if using setProps when there's a root component with the
mixin and setState when it does not is a good rule of thumb.

Btw, are you using v0.8 of the mixin?

On Tuesday, January 27, 2015, Karol Janyst <notifications@github.com> wrote:

--

Cumprimentos,
José Magalhães

[2015-01-27 03:15] LKay commented on #54
I'm using 0.7.3 now. About mixing setProps and setState is not a good reactish approach so it should be consistent. I think the wrapper should should use only states as they are dynamic and changing within components scope. Props should be only used to set up the initial state for models/collections within component body. Sharing the models/collections between components and should be taken care b

[2015-01-27 11:12] kanejoe commented on #53
that's it exactly - when a model's validation fails this event is triggered.

[2015-01-27 11:16] magalhas commented on #36
How do you pass the data from the `<Editor />` into it child components? Your use case as described above should be working fine.

[2015-01-27 12:00] alexmcmillan commented on #36
I'm passing the `documentModel` as a prop to the editor, but not as its `model` prop.  The `Editor`, if it receives a `documentModel` property, renders a `<Document model={this.props.documentModel} />`.

I still don't see how this is wrong, or even an edge case.  Sure, I could pass the `documentModel` as the `model` prop to both the `Document` AND the `Editor` but it just doesn't make sense.

Plea

[2015-01-27 12:03] magalhas commented on #36
Because the nature of the mixin uses `setProps`. There are some discuss over the repo over changing `setProps` to `setState`, if that happens then there won't be this limitation.

[2015-01-27 12:04] magalhas commented on #53
For the time being the mixin is not listening to this event. We can easily add it.

[2015-01-27 19:49] alexmcmillan commented on #36
Ok cool.  Perhaps you could use this as an example of the mixin not necessarily being used for a complete application.  Thanks for your help, i'll keep an eye on future updates :-)

[2015-01-28 01:46] magalhas commented on #54
Feel free to tackle it down. If you do please do it over the master, there are already some changes by using contexts, feature that will be included in the incoming version of React.

[2015-02-03 20:24] kanejoe commented on #53
that would actually be very useful, thanks

[2015-02-04 10:10] magalhas commented on #53
It'll be on the next release (can't promise when).

[2015-02-05 19:44] magalhas commented on #54
@LKay I'm about to start working on this, Considering what you've mentioned earlier, sharing models/collections between parent and child components can be done cleanly through React contexts, it's already working like that on the master branch. Anyway, the major changes I'm considering for the next release:

- Internally `@setState` will be always used instead of `@setProps`, so you're model/colle

[2015-02-05 19:46] magalhas opened #55 "Incoming on v0.8.0"
**Major**
- React v0.13
- Internally `@setState` will be always used instead of `@setProps`, so you're model/collections data will be available under `@state` (#36, #54)
- `@getModel` and `@getCollection` no longer crawls the dirty `_owner` reference (which will be removed on incoming React release), instead they are able to grab the model and collection instances through `@context` (new React fea

[2015-02-05 19:49] rzhou186 commented on #55
Does the switch to setState mean that for child components, we won't need to remount them as new root components and they'll still retain their data bindings?

[2015-02-05 19:51] magalhas commented on #55
Yes :+1:

[2015-02-05 19:52] rzhou186 commented on #55
That's fantastic! The README will need to be updated too, then...

[2015-02-05 19:54] magalhas commented on #55
Everything will need an update, which is great but also scary because I don't have that much free time. I hope no one gets mad about having to refactor their code, I mean, I finally agree that using `@state` is more viable then `@props` and I think that's a general feeling, Also it improves the way of creating an entire application without going Flux :)

[2015-02-05 19:56] rzhou186 commented on #55
This is an extraordinary library and has been a huge help to all of us. Thanks magalhas!

[2015-02-10 11:47] mohamedattahri commented on #29
@magalhas I'm not sure it's entirely fixed. I'm facing the same problem as @jbhatab. I'm pretty sure getCollection() always returns the first collection passed with the component and doesn't account for collection swapping.

    render(<MyComponent collection={ collectionA }, document.getElementById('body'));
    render(<MyComponent collection={ collectionB }, document.getElementById('body'));

ge

[2015-02-10 12:12] magalhas commented on #29
This is due to change in incoming versions of the lib, anyway feel free to create a PR.

Please check issue #55 about incoming changes.

[2015-02-10 12:13] magalhas commented on #29
Btw how come on the example you provided getCollection always returns `collectionA`? The second line is indeed a different instance of a component.

[2015-02-10 12:17] mohamedattahri commented on #29
Not sure how react-js manages the instantiation of new instances of a component. What I know so far is that I use the same component to display different collections with different filters.

On Tue, Feb 10, 2015 at 12:13 PM, José Magalhães <notifications@github.com>
wrote:

[2015-02-10 12:32] mohamedattahri commented on #29
So I’ve just took the time to check everything and it appears events are not being fired as you predicted.

Any idea where I should start to fix this?

On Tue, Feb 10, 2015 at 12:17 PM, Mohamed Attahri <mohamed@attahri.com>
wrote:

[2015-02-10 12:52] magalhas commented on #29
Given incoming changes this will be fixed. For the time being when you check a collection/model reference changes you could dispose of this.wrapper and instance a new one.

Cumprimentos,
José Magalhães

On Tue, Feb 10, 2015 at 12:32 PM, Mohamed Attahri
<notifications@github.com> wrote:

[2015-02-10 12:57] mohamedattahri commented on #29
Thanks - Great work by the way.

On Tue, Feb 10, 2015 at 12:52 PM, José Magalhães <notifications@github.com>
wrote:

[2015-02-11 02:26] magalhas commented on #29
I'll try to release a beta version of the incoming release this weekend. I also intend on patching v0.7 branch with the fix for this though I'm not sure if it's worth it.

[2015-02-11 03:17] magalhas commented on #29
@mohamedattahri feel free to try out the master :) Remember this already include all the changes for v0.8.0

[2015-02-11 03:20] magalhas commented on #29
Also @jbhatab this was in fact occurring all this time.

[2015-02-11 03:22] magalhas commented on #55
@rzhou186 feel free to try out the master, all changes are already in place. I still have to update all the docs and demos to release a beta version of it, though feedback would be awesome meanwhile.

[2015-02-11 03:27] magalhas commented on #53
@kanejoe the fix is already available on the master branch. I think I'll be able to release a beta version including it by the weekend but feel free to try it out.

Basically `@state.isInvalid` is set to true if the event is triggered, and false when a request is being made. Probably this ain't enough, because there probably is some more information passed through the event. I plan to check this o

[2015-02-11 03:31] magalhas commented on #54
@LKay master already include changes listed in #55 which probably fix your use case.

[2015-02-11 12:24] kanejoe commented on #53
super.  Will have a look and revert

[2015-02-11 12:24] #53 closed

[2015-02-11 17:00] jbhatab commented on #29
Ok great, thanks. Appreciate all the fixes and keeping up with react updates.

[2015-02-12 01:37] magalhas commented on #36
@alexmcmillan check out the master already include all #55 changes so this is no longer an issue, feel free to try it out and let me know if you have any feedback

[2015-02-12 05:09] alexmcmillan commented on #36
@magalhas nice work :)  thanks for taking the time to do this.  I made my own (albeit simple) `BackboneReactComponent` that uses `state` so that I could continue with my project, but I will replace it with yours shortly, see how it goes and let you know.

[2015-02-16 14:37] ieugen commented on #55
Any ETA on this? I wish to use it in a project I'm migrating to React and would like to avoid migrating from 0.7.2 to 0.8. How stable is the alpha version from master?

[2015-02-16 14:41] magalhas commented on #55
The latest alpha version doesn't include the latest changes. I would recommend you to use the HEAD of master. I'll release between today/tomorrow a v0.8.0-beta to make it easier. I think the HEAD is already pretty stable but I need more feedback to be sure.

[2015-02-16 15:13] ieugen commented on #55
Cool. I'll be your guinee pig then. I'm allready using master via bower. Let me know you push the beta so I can follow and report broken things.
Cheers,

[2015-02-16 18:09] magalhas commented on #55
Thank you @ieugen. Please let me know if you're having any issues so far. Before the beta release I need to update the documentation and demos, it won't take me more than an hour I guess.

[2015-02-17 17:32] benhowdle89 opened #56 "Correct way to listen for events"
[code]

When I remove the clicked Model from the passed in Collection instance, the UI does not seem to update. If you could confirm I'm using state/props, etc...correctly, that'd be marvellous.

Should clarify, the Model is successfully removed from the Collection.

[2015-02-18 09:05] magalhas commented on #56
Hi I'm pretty sure the problem have to do with the fact you're not working on a top level component, which is a limitation of the v0.7. That's not a problem anymore on the master branch, can you please try it out? Keep in mind that `@state` is used instead of `@props` to keep a JSON representation of the models/collections.

[2015-02-18 09:05] magalhas commented on #56
You can find the list of changes included in the master branch in #55

[2015-02-18 09:11] magalhas commented on #56
@benhowdle89 I've just released v0.8.0-beta.1 to make it easier for everyone to test it out. The only thing missing for a final release is React final version of v0.13 and updating all the docs and examples here in the repo.

[2015-02-18 09:12] magalhas commented on #55
@ieugen I've just tailed v0.8.0-beta.1 release. There are still some examples/documentation changes missing, but that's it. Can you let me know your experience so far? Thanks.

[2015-02-18 09:13] magalhas commented on #54
v0.8.0-beta.1 is released and it fixes this

[2015-02-18 09:13] #54 closed

[2015-02-18 09:13] magalhas commented on #29
v0.8.0-beta.1 is released and it fixes this

[2015-02-18 09:13] #29 closed

[2015-02-18 09:15] magalhas commented on #36
@alexmcmillan I've already released v0.8.0-beta.1 so feel free to use it. As of now this shouldn't be reproducible anymore so I'm going to close it.

[2015-02-18 09:15] #36 closed

[2015-02-18 10:45] ieugen commented on #55
I've just pulled from master and manually tested the application. No issues so far, great job. I will implement some other features in the next few days and get back if there are things to report.

[2015-02-24 10:38] ieugen commented on #55
No issues so far on my side. Doing some basic stuff only. Great job.

[2015-02-24 12:31] magalhas commented on #55
The model instance reference will be available under `@props`, though the JSON representation of it will be living under `@state`.

Before this patch the model reference was removed from `@props` and the JSON representation could be found on it.

One thing that I'm not sure that should be changed is a model JSON representation maybe should live inside `@state.model` instead of directly into `@stat

[2015-02-24 12:54] ieugen commented on #55
It's quite debatable, but I think that namespacing them under stat.model is good. How do you currently handle issues when the view uses it's own state via getInitialState()?

[2015-02-24 13:53] magalhas commented on #55
Model properties will replace `@state` properties if they collide. That's the main reason I think nesting model properties under `@state.model` is a good choice. I think I'll include that change in this patch.

[2015-02-24 14:10] ieugen commented on #55
Yes, it makes sense.

[2015-02-25 08:04] hardchor commented on #55
Is anyone else experiencing that `componentWillReceiveProps` isn't firing anymore since this change?

[2015-02-25 09:24] magalhas commented on #55
Props contains the model/collection references passed from above and state contains the JSON representation of it. Yes, they're always in sync.

[2015-02-25 09:52] ieugen opened #57 "Is this compatible with react-router?"
I'm trying to integrate backbone-react-component with react-router [1], but there doesn't seem to be a direct way to do it. Any ideas if this is possible?

Thanks,

[1] https://github.com/rackt/react-router/

[2015-02-25 09:57] ieugen commented on #57
From my limited knowledge of both technologies, one approach might be to bind the models and collection in a function on the React class (a method similar to componentWillMount or something).

Wdyt?

[2015-02-25 10:33] hardchor commented on #55
Are you absolutely sure about this?
https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L233 seems to suggest it only updates the state, which wouldn't trigger `componentWillReceiveProps`.

[2015-02-25 10:35] magalhas commented on #57
I've never used `react-router` (I usually use `Backbone` for routing and models), though after checking the the docs a little bit I don't see why it wouldn't work at all. Did you find any specific issues or you're just thinking on how you should tackle it yet?

[2015-02-25 10:37] magalhas commented on #55
`componentWillReceiveProps` only gets called if there are changes to props. If a collection or model updates, props doesn't change because the reference is exactly the same.

What you should do is replace `componentWillReceiveProps` with `shouldComponentUpdate` or `componentWIllUpdate`.

[2015-02-25 11:00] hardchor commented on #55
You can't (or shouldn't) update state from those methods(as the docs state and my own tests confirm).

I've relied on `componentWillReceiveProps` in the past to notify me of model changes. I think the best way to go for now is to subscribe to `model.on('change' ...)` in `componentWillMount` and update `someState` from there.

What do you think?
Muito obrigado ;)

[2015-02-25 11:08] magalhas commented on #55
I'm almost sure that mutating state in `@shouldComponentUpdate` is not an anti-pattern, but in `componentWillReceiveProps` it's.

Regarding your suggestion it looks like a ugly trick because the intention of this lib is to spare you from doing that.

De nada ;)

[2015-02-25 11:19] hardchor commented on #55
I don't think it is, it's even stated as an explicit example in the docs for `componentWillReceiveProps` (http://facebook.github.io/react/docs/component-specs.html#updating-componentwillreceiveprops).

`shouldComponentUpdate` does get triggered on `props` and `state` updates, but is only meant to be used for validation, so updating the state (if at all possible, which I'll check in a minute) feels

[2015-02-25 11:41] magalhas commented on #55
@hardchor I've just created an issue in React's repository with the doubt we're having (https://github.com/facebook/react/issues/3262). I'll let you know as soon as possible :)

[2015-02-25 11:43] ieugen commented on #57
I'm thinking on how to build modular web applications. One module corresponds to one feature that is mostly self contained and is integrated in the main app via routes and maybe a thin data layer. The app maintains a central data store to reuse data across features and avoid fetching when switching to a new part of the application.

I'm using backbone-react for binding the data to react components

[2015-02-25 15:24] hardchor commented on #55
Cheers mate, I'm following that thread.

I've tried setting state inside `shouldComponentUpdate` and get an error (and the state isn't being updated either), so that suggests it's not a good idea to do it there.

I can't spot any other callbacks that seem suitable for what we're trying to achieve.
It's possible to manually trigger updates via [forceUpdate()](http://facebook.github.io/react/docs/co

[2015-02-25 15:29] magalhas commented on #55
Without feedback on the thread I'm not sure if it's safe, but maybe `nextState` can be mutated inside `@shouldComponentUpdate` (though I seriously doubt it)

[2015-02-25 15:36] hardchor commented on #55
I've tried it out and it can. It still feels wrong to mutate state inside what is effectively a validator method.

Reading through facebook's own react-backbone TodoMVC example, they do indeed trigger `forceUpdate` on model change (https://github.com/tastejs/todomvc/blob/gh-pages/examples/react-backbone/js/app.jsx#L38)

[2015-02-25 15:42] magalhas commented on #55
Well there's not really the need to trigger `forceUpdate`, also I feel that the method may get deprecated soon enough.

Lets wait for feedback on the other thread. I really think a `@componentWillReceiveState` hook would be awesome but I also think this won't happen anytime soon.

[2015-02-25 16:46] ieugen opened #59 "Is backbone-react compatible with react-bootstrap or third-party components?"
The question boils down to: can I mixin backbone-react with third party components like react-bootstrap?

[1] http://react-bootstrap.github.io/

[2015-02-25 16:49] magalhas commented on #59
The obvious answer is yes though it's not this mixin responsibility to guarantee compatibility with al other mixins out there. Bottom conclusion is that the mixin pattern is so good that I don't feel that there will be much incompatibility between mixins out there

[2015-02-25 16:50] magalhas commented on #59
Anyway feel free to test it out on a simple scenario and let me know if you find any problems at all.

[2015-02-25 16:54] hardchor commented on #55
One last comment on this, then I'll shut up ;)

I don't know the motives behind moving models/collections to state, but the way I understand the flux flow is that there's a unidirectional flow of information. Props (as opposed to state) are immutable from the component's point of view, so I believe they'd be more suitable for containing data coming from parent components (such as models or collect

[2015-02-25 16:58] magalhas commented on #55
@hardchor up until v0.8 everything was inside `@props`, the reality is that models and collections data is mutable so it makes all the sense to store them inside `@state`, though the references (passed from parent components, or not) reside inside `@props` because that's the way React works (props from top-to-bottom communication).

Regarding your reference to Flux, flux is a pattern and is not th

[2015-02-25 16:59] magalhas commented on #55
Also feel free to never shut up. it took me half an year to agree on moving data from `@props` to `@state` and it was with other people feedback that I was able to "open my eyes" :+1:

[2015-02-25 17:00] magalhas commented on #55
On a last note: `@setProps` is getting deprecated pretty soon so mutating `props` on the self component will probably be impossible in incoming React versions.

[2015-03-03 08:03] ieugen commented on #59
It works. It was a silly question on my part.

[2015-03-03 08:03] #59 closed

[2015-03-10 14:38] MuhammadMuneer opened #61 "Update npm and bower"
Integration with react router didn't work, just to realise that it was due to outdated version when installed via npm.

With the current version cloned from git, it works well with react-router. :+1:

[2015-03-10 14:42] magalhas commented on #61
I'm waiting for the official React's v0.13 release to release a new version of the mixin (though I plan on releasing a new beta version meanwhile). Anyway, can you share how are you passing your models and collections into the components using react-router? I'm asking this due to #60

[2015-03-10 15:00] MuhammadMuneer commented on #61
I passed it using 'overrideCollection' and 'overrideModel' methods as suggested in the react-router example given.

[2015-03-10 15:01] magalhas commented on #61
Nice. What do you think about those methods being named as `getDefaultCollection` and `getDefaultModel` ?

[2015-03-10 15:08] MuhammadMuneer commented on #61
Current method names sounds good to me. I rather not name it as 'getDefault...', for the same reasons suggested in the other issue #60 (confusion with getDefaultProps).

[2015-03-10 15:49] magalhas commented on #61
Alright. Thank you a lot for your opinion :+1:

[2015-03-11 10:02] magalhas opened #62 "document v0.8.0 changes on README"

[2015-03-11 10:02] magalhas opened #63 "update examples to match v0.8.0 changes"

[2015-03-11 10:03] magalhas opened #64 "unit tests to validate overrideModel and overrideCollection hooks"

[2015-03-11 10:03] #57 closed

[2015-03-11 12:55] #62 closed

[2015-03-11 12:59] #56 closed

[2015-03-11 15:29] tsjoberg commented on #55
@magalhas hey just saw this library and looking to see if you can reference me to the issues/comments that discuss moving from ```@props``` to ```@state```. Would love to see the discussion/rationale and points for either.

Thanks!

[2015-03-11 17:09] magalhas commented on #55
@tsjoberg there wasn't an extensive discussion over any issue. There were some random thoughts on different issues about "why props instead of state?" where I defended props usage. One major advantage is that `@setState` can be called on any component, while `@setProps` is only available at the root component. By using `@setState` it allows us to use the mixin wherever we want (root, child, etc, c

[2015-03-15 12:45] ieugen commented on #61
If backbone-react-component works with react 0.12, please make sure to specify that in peerDependencies. It would be a shame not to be able to use they work well together. For example, because of other dependencies not using react 0.13 yet (react-router) I can't upgrade. This leaves out backbone-react-component also.

Regards,

[2015-03-16 15:37] magalhas commented on #64
@ieugen and @MuhammadMuneer I was coding the unit tests and I noticed the following warning on both methods:

`Warning: Don't set .props.model of the React component. Instead, specify the correct value when initially creating the element.`

Basically props should be immutable. @ieugen I'll need to change your implementation, but I think the method can work the same way.

[2015-03-16 15:40] #64 closed

[2015-03-16 15:41] magalhas commented on #61
@ieugen 0.8.0 won't work with React 0.12. For that there's the version 0.7. In this version we're using features that are not supported on React 0.12, so keeping it compatible would introduce some ugly code to make it work.

[2015-03-16 15:42] magalhas commented on #61
Version 0.7 is already in a separate branch and I'm ok with pushing some fixes to there if it makes sense.

[2015-03-16 15:51] magalhas commented on #61
New version was just released (requires React v0.13)

[2015-03-16 15:51] #61 closed

[2015-03-16 15:51] #55 closed

[2015-03-16 15:51] magalhas commented on #63
The release was done but this is still missing.

[2015-03-16 16:50] ieugen commented on #61
I would apreciate if you could backboprt the features to 0.7. They should work with 0.7. Thanks also for pointing out the incompatibility with react 0.12.

[2015-03-16 16:50] magalhas commented on #61
Yes, things like `overrideModel` and `overrideCollection` can be ported into 0.7. Feel free to PR it, else I'll do it when I find some time ;)

[2015-03-16 16:51] ieugen commented on #64
Agreed. Yes, they are going for immutability, which is nice. Go for it :)

[2015-03-16 16:52] magalhas commented on #64
@ieugen it was a very minor change to your PR :+1:

[2015-03-19 08:30] ieugen opened #65 "Provide alternative to mixin"
Hello Jose,

I found an issue with react-backbone-component and react-router that made me think about looking for alternatives like RefluxJS and ditch the backbone stuff (I had a lot of bad experiences with Backbone in the past. They still come and haunt me :( ).

The problem is that the mixin does not get called when react-router changes the route, and the new route has the same path, but a diffe

[2015-03-19 09:14] magalhas commented on #65
@ieugen `@overrideModel` isn't called when the query parameter changes? I'll take a good look at this when I find sometime. Meanwhile I'm interested in understanding if the route change with the same path is a bug in backbone react component.

[2015-03-19 09:16] ieugen commented on #65
Yes, that is the issue. But a more broader thing would be not to depend on
the mixin. That way, it could be used also with ES6 classes that do not
support mixins.

Let me know what you find. It might be a bug in react-router also. But not
that probable.

Regards,

2015-03-19 10:14 GMT+01:00 José Magalhães <notifications@github.com>:

--
Ioan Eugen Stan
0720 898 747

[2015-03-19 09:21] magalhas commented on #65
Regarding a way of using the lib programatically, feel free to suggest an interface, I'll consider implementing it.

[2015-03-21 20:22] magalhas commented on #65
@ieugen can you provide me a (not) working example of that problem? I mean, the query part changing and props being deleted? I would like to debug that scenario.

[2015-03-24 13:57] RusAlex opened #66 "Not to run render twice collection.fetch"
I've simple React.Component and collection relation with your software.

I initialize empty collection, then try to fetch in in

[code]

And your lib change state 3 times because two events fired in collection: request, reset, sync.

Sure I can do it like this:

[code]

But please consider something, not to change state during collection fetch call so many times.

Or Am I doing something wrong ?

[2015-03-24 16:36] magalhas commented on #66
The `state` changes many times because when the request starts there's a `setState`. There's another `setState` when the request ends. This allows you to render spinners and other things while the request is being done.

You can always set `silent: true` on as a fetch option to override this behaviour.

[2015-03-24 16:46] RusAlex commented on #66
Ok I understand the idea.

Thanks for fast answering. Will try using your project further.

[2015-03-24 17:13] magalhas commented on #66
Thank you for using this lib. Feel free to ask anything :+1:

[2015-03-24 17:13] #66 closed

[2015-03-25 00:22] magalhas opened #67 "Roadmap v0.9"
**Major**

- Plug and play static `on` and `off` methods for fine grained control over model/collection bindings (#65, #77)

**Minor**

- Usage of Backbone.Collection#update event instead of #add and #remove (#82)

[2015-03-27 13:20] ieugen commented on #65
Please see https://github.com/magalhas/backbone-react-component/pull/68

[2015-04-12 19:46] rzhou186 opened #70 "Resetting a collection does not re-establish bindings for models that were included both before and after that reset"
I have a component using the Backbone.React.Component mixin that accepts a collection.

I populate this collection within my component via Backbone's `Collection.reset`, passing in an array of JavaScript objects with the model data (**not** models themselves). For example,

[code]

On the first call to `Collection.reset`, all of the mixin's bindings work perfectly. If I update/save one of the mode

[2015-04-15 00:30] magalhas commented on #70
I'll try to check this when I catch some time, though my first priority is implementing an easy way of using the mixin's sugar inside an ES6 class.

[2015-04-17 21:52] magalhas commented on #65
@ieugen just implemented `on` and `off` methods to achieve this. How does it work? You can check the unit tests but the API is this:

[code]

[2015-04-17 22:22] ieugen commented on #65
The API looks nice. I hope I get some time to test it. I've been off React for some time now.

[2015-04-20 10:48] hugoduraes opened #74 "@state.isRequesting is not set on Collection#fetch"
In the following scenario I find that `@state.isRequesting` is never set to `true`:

[code]

Note that `MyComponent` is already rendered so `componentWillReceiveProps` is executed instead of a new component instance.

[2015-04-23 10:24] hugoduraes commented on #74
Apparently I must wait for the component to be rendered before fetching the collection.

[2015-04-23 10:24] #74 closed

[2015-05-01 20:11] magalhas opened #77 "on/off usage example"
`on` and `off` methods are implemented (experimental), though we're lacking documentation and an example of their usage.

[2015-05-01 20:12] magalhas opened #78 "es6 refactoring"

[2015-05-26 16:07] eyaleizenberg opened #79 "Listening to specific changes"
Is there a way to listen to specific changes in a model attributes? For example, if I only want to render the component again if the model's name has changed?

Thanks.

[2015-05-27 11:01] magalhas commented on #79
Currently any change to a collection/model will trigger re-rendering. You can however use `shouldComponentUpdate` to overcome this limitation. Anyway this looks like a good feature to implement in the library, so I'll keep this open to track the feature,

[2015-06-14 11:44] colinramsay opened #81 "React Native Support"
I was able to get things working by:

 - Requiring `React` instead of `react`
 - Remove references to `findDOMNode`

See the following diff:

[code]

[2015-06-15 09:48] magalhas commented on #81
Hi,

`react` vs `React` looks like a very odd issue. Does React Native team justify this anywhere?

Regarding `React.findDOMNode` feature it looks like a simple if around the clause may work as well.

Do you want to create a PR with your findings and changes?

Thank you :+1:

[2015-06-21 00:42] darrrk opened #82 "Update backbone to 1.2.x and consider new "update" collection event"

[2015-06-21 13:21] magalhas commented on #82
I can do this but meanwhile feel free to open a PR for it, it looks like pretty straightforward changes :+1: Thank you for opening the issue

[2015-06-23 00:55] McWatt opened #83 "plugin uses toJSON to set state, but this causes issues when overriding"
This code uses the `toJSON` method internally for setting state, but that method is for JSON stringification. Look on line 278 of backbone-react-component.js.

[code]
This causes issues when overriding the toJSON method on models/collections. For example, I had to do this on a collection to save to a legacy api:

[code]

[2015-06-23 08:28] magalhas commented on #83
Hi,

Do you have any suggestion regarding an alternative to `toJSON`?! Maybe directly accessing the models/attributes?

[2015-06-23 15:20] McWatt commented on #83
Yep, the attributes would be accessed directly. Here is a conversation in the backbone repo where this topic is discussed: https://github.com/jashkenas/backbone/issues/2134

[2015-06-23 15:58] McWatt commented on #83
I hacked out a fix for my local dev. This hasn't really been tested but so far appears to be working.

[code]
Then call the helper from ```setState```:
[code]

[2015-06-23 16:55] magalhas commented on #83
Glad you were able to find a solution. I'll take a look at your solution and check if I can incorporate it into the lib. Thank you :+1:

[2015-07-02 21:18] darrrk commented on #82
Close this, because this kill backbone <1.2.0 compatibility

[2015-07-03 09:22] magalhas commented on #82
@darrrk can you please elaborate why does the compatibility breaks?

[2015-07-03 10:18] darrrk commented on #82
Since backbone 1.2.0 you can use `update` event instead [`add` and `remove`](https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L319)
Pros:
We can use only one `update` event instead any amount of multiple `add` or/and `remove` events.
Negative:
Breaks compatibility with backbone less than 1.2.0

[2015-07-03 10:40] magalhas commented on #82
I don't see why this change couldn't be included in the incoming version of this lib. React also includes some breaking changes in some versions and we'll keep up with it, I guess the same approach applies do Backbone. If the dev needs, simply lock backbone-react-component to the minor version (0.8 in this case).

Do you agree?

Cumprimentos,
José Magalhães

On Fri, Jul 3, 2015 at 11:18 AM, Vladis

[2015-07-03 10:50] darrrk commented on #82
Ok, giving PR

[2015-07-03 11:26] magalhas commented on #82
Sweet :+1:

[2015-07-03 13:16] darrrk commented on #82
#85 merged

[2015-07-03 13:16] #82 closed

[2015-07-26 18:33] magalhas commented on #67
Released.

[2015-07-26 18:33] #67 closed

[2015-07-26 18:37] #77 closed

[2015-07-26 18:37] magalhas commented on #65
It's released.

[2015-07-26 18:37] #65 closed

[2015-07-26 18:42] magalhas commented on #83
Care to craft a PR so we can fit this into a patch release? The solution seems fine, and if anyone is relying on the `toJSON` hook to change what goes into the UI there are many alternatives. Also this will probably improve performance.

[2015-09-21 17:19] fifigyuri commented on #83
The solution by @McWatt works for me, it seems to be pretty simple.

[2015-09-21 23:28] magalhas commented on #83
Fixed by #86

[2015-09-21 23:28] #83 closed

[2015-09-22 00:36] markmiro opened #87 "Typing in input field makes cursor jump to the end of input"
Maybe I'm doing it wrong, but here's an example of the bug:
http://codepen.io/markmiro/pen/pjbVma?editors=001

Is there another way to get the Backbone model and React view to stay in sync? I would like to sync the two to do things like live input validation.

Thanks!

[2015-10-25 09:39] ram-you opened #90 "React 0.14.0"
Please update to the last React 0.14.0.
Thank you.

[2015-10-29 20:16] darrrk commented on #90
:+1:

[2015-10-29 21:53] magalhas commented on #90
Currently I've been busy with [relax](https://github.com/relax/relax), though I'm still maintaining this. Anyway, unless a PR is sent, it'll take me some weeks until I find time for this.

[2015-11-02 11:05] DiegoYungh commented on #70
14 Apr to 02 November, is this project still active?

[2015-11-02 16:43] magalhas commented on #70
@DiegoYungh it's but it's kind of in maintenance mode. Meaning, I'll update things for React 0.14 when I catch my breath but I won't be developing any new features in the near future.

[2015-11-06 05:30] magalhas commented on #90
The PR is merged. I'm going to prepare a release with it.

[2015-11-06 05:30] #90 closed

[2015-11-06 05:43] magalhas opened #92 "fix server side example on README.md"
It's not correct according to React 0.14 changes.

[2015-11-16 17:16] heymath commented on #87
That would be awesome!
But for now, the only working "solution" I got is duplicating the model attribute into the view state (on componentWillMount for example) then bind input onChange to setState with input value. And finally on a submit or whatever, set the model attribute with the view state... :disappointed:

[2015-11-16 17:52] magalhas commented on #87
Well you can also rely on an onBlur event instead of onChange, though that's not neat.

[2016-02-13 17:56] tutuca opened #93 "How to get the actual Model?"
I notice that a component that admits a model instance stores only its json representation in `this.state.model`.

I have lots of computed values in my models. Is there a provided way to get the actual model?

[2016-02-15 10:55] magalhas commented on #93
`this.getModel()`

[2016-02-15 10:55] #93 closed

[2016-02-15 12:05] tutuca commented on #93
Consider me facepalmed.
Sorry for opening an Issue. Thought it was the quickest way to get in contact.

[2016-02-15 12:09] magalhas commented on #93
That's ok. No worries :)

[2016-05-11 10:53] mir3z opened #94 "Multiple renders"
Consider the case when we have two components: `list` and `item`. List consists of items, both of them use `backbone-react-component`. `list` relates to collection and `item` relates to model. Now each time model is added to collection, collection triggers `change` event. So let's say we have 100 items and we want to add a new item. List will be re-rendered 101 times. Have you thought about this?

[2016-05-11 10:57] #94 closed

[2016-05-12 11:27] mir3z opened #95 "Keeping references between model and state"
This bug is the direct consequence of #83

In the latest version you added `getAttributes` method which eventually returns `modelOrCollection.attributes` which is an object. As a consequence I can't compare state in  `shouldComponentUpdate` because `this.state.model` and `nextState.model` are exactly the same since they share reference. Previously it works because you were using `toJSON` which was

[2016-05-12 11:47] mir3z opened #96 "Why listen to `change` event on collection?"
What's the reason behind listening to `change` event on collections? This causes a lot of events which leads to re-rendering components. Wouldn't be better to listen to `add` and `remove` events?

[2016-06-10 15:04] mistakevin commented on #96
Or even the `update` event, which only fires once for any group `add`/`remove` events

[2016-06-13 12:11] magalhas commented on #96
@mir3z  I've been off Backbone development for quite a while, but I think the `change` event is triggered when a model attribute change, it's not related to the addition and removal of models from a collection. Or am I wrong?

Actually we're already listening to the `update` event (which listens to `add` and `remove` event) [here](https://github.com/magalhas/backbone-react-component/blob/master/li

[2016-06-13 12:18] magalhas commented on #95
Hi,

I'm sorry it took me so long to notice this. I've been off Backbone so I didn't pay enough attention to this project.

Maybe we can fix this by cloning the attributes in [here](https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L293) and [here](https://github.com/magalhas/backbone-react-component/blob/master/lib/component.js#L297). I'm afraid of the performance

[2016-06-13 12:24] mir3z commented on #95
Hello,

cloning attributes is what `toJSON` actually does, except cases where `toJSON` is overridden in a model.

Anyway cloning should fix this bug.

[2016-06-13 12:38] magalhas commented on #95
People overriding `toJSON` was the cause of the original bug, so cloning won't bring that back.

Are you willing to create a PR?

[2016-06-13 13:12] mir3z commented on #96
I understand your point but let's consider the following use case.

Let's have a collection of of TODOs. Then we create a React component which represents a list of TODOs. This component uses a collection as a data source. The list consists of specific TODO items. Each item is another React component and has TODO model as a data source.

Now let's assume a model changes. It triggers `change` event

[2016-06-13 14:52] magalhas commented on #96
I totally agree with you and that's also the best way of binding your data sources. Feel free to PR this as well, I'll release a new minor afterwards. I think tests will need some changes to accommodate this.

#79 might take some time or may never be coded, at least by me :)

[2016-06-13 16:33] mir3z commented on #95
Sure, just created

[2016-06-13 16:34] mir3z commented on #96
Unfortunately I don't have enough time to implement this change. It seems to be rather a massive change.

[2016-06-13 20:26] #95 closed

[2016-06-13 20:27] magalhas commented on #96
I don't think this is that massive change but I'll try to tackle this when I find sometime. Though I'm not sure if I'll have anytime soon

[2016-07-25 18:16] vamsi commented on #18
I have the problem where fetch doesn't act upon `getCollection`
with an error `Uncaught TypeError: Cannot read property 'fetch' of undefined`

[2016-08-17 09:21] anhkhoi opened #99 "Upgrade to react 15.x.x"
The warning when install backbone-react-component

`backbone-react-component@0.10.0
└── UNMET PEER DEPENDENCY react@15.3.0`

`npm WARN EPEERINVALID backbone-react-component@0.10.0 requires a peer of react@^0.14.0 but none was installed.`

[2016-09-03 19:03] bashmach commented on #99
Vote for PR #98 and let's hope it will be accepted soon :)

[2017-06-01 20:30] spencer-brown commented on #99
Looks like this can be closed :)